table {
  margin: auto;
}

td {
  padding: .5em;
  text-align: center;
  color: black;
}

th {
  background: #00BD27;
  padding: .5em;
  font-size: 1.5em;
  color: white;
}

.even {
  background: #C7C7C7;
}

.odd {
  background: #DEDEDE;
}