td {
  padding: .5em;
  text-align: center;
  color: black;
}

th {
  background: #00BD27;
  padding: .5em;
  font-size: 1.5em;
  color: white;
}

.even {
  background: #C7C7C7;
}

.odd {
  background: #DEDEDE;
}

#left_container {
  float: left;
  width: 45%;
  margin-bottom: 2em;
}

#right_container {
  float: right;
  width: 45%;
}

input {
  display: block;
  width: 15em;
  height: 2em;
  margin-bottom: 1em;
}

button {
  background: #00BD27;
  border: none;
  padding: .5em;
  color: white;
}